*{padding: 0;margin: 0;box-sizing: border-box;font-family: microsoft YaHei;font-size: 12px;}
ul{margin-bottom: 0;line-height: 3.6}
.inline-list{margin-bottom: 0}
.title{border-bottom: solid 1px #ededed;overflow: hidden;}
.pic_box{margin-top: 20px}
.pic_box p{margin-bottom: 0;line-height: 30px;color: #666}
.pic_box p span{font-size: 16px}
.inline-list > li{float: right;}
.top-bar{background: #1450B8}
.tab-bar{background: #1450B8}
.nav_right>li>a{color: #fff}
.clearing-thumbs input[type=checkbox]:checked+a>img{border: solid 2px blue;border-radius: 22px;}
.clear_padding{padding: 0!important}
.clearing-thumbs li{margin-right: 0}
.inline-list > li > *{font-size: 16px;margin-right: 6px;line-height: 40px;}
.top-bar-section li:not(.has-form) a:not(.button){background: #1450B8}
.clearing-thumbs li{position: relative;padding: 5px;border: solid 1px #ededed;margin-bottom: 10px;}
.clearing-thumbs input{position: absolute;left: 50px;bottom: -8px;width: 20px;height: 20px;}
.add_pic{font-size: 15px;padding: 0 10px;}
.clearing-thumbs li:hover{box-shadow: 1px 1px 8px #999}
.top-bar.expanded .title-area{background: #1450B8}
.dropdown li>a:hover{background: #1450B8}
.pic_box .th img{height: 220px;}
.reveal-modal span{font-size: 25px;}
.dropdown span{font-size: 16px;}
.rechoose{color:#FFFFFF;font-size:16px;}
.fallback{font-size: 16px;color: #fff}
.inner-wrap{min-height: 400px;}
.alert-box{position: fixed;top: 40%;width: 70%;left: 17%;text-align: center;display: none}
.button{padding: 10px 40px;margin-top: 20px;margin-bottom: 0;background: #1450B8;}
#save{position: fixed;bottom: 0px;}
@media only screen and (max-width: 40.063em){
	.pic_box .th img{height: 120px;}
}
@media only screen and (max-width: 40em){
	.reveal-modal, dialog{min-height: auto}
}
@media only screen and (max-width: 40.063em){
.clearing-assembled .clearing-container .carousel > ul {display: inline-block;}
.clearing-blackout .clearing-thumbs input{position: fixed;visibility: hidden;}
.clearing-blackout .clearing-thumbs>.visible input{z-index: 1000;top: 13px;visibility: visible;}
}

.tiny_button {padding-top: 0.125rem;padding-right: 0.25rem;padding-bottom: 0.1875rem;padding-left: 0.25rem;font-size: 0.1875rem; }
.product_select{width:15%;}
.clearing-close {font-size:40px;padding-top:15px;width:60px;}