*{padding: 0;margin: 0;box-sizing: border-box;font-family: microsoft YaHei;font-size: 12px;}
ul{margin-bottom: 0;line-height: 3.6}
.inline-list{margin-bottom: 0}
.title{border-bottom: solid 1px #ededed;overflow: hidden;}
.pic_box{margin-top: 20px}
.pic_box p{margin-bottom: 0;line-height: 30px;color: #666;width: 50%;}
.pic_box p span{font-size: 16px}
.inline-list > li{float: right;}
.top-bar{background: #1450B8}
.tab-bar{background: #1450B8}
.nav_right>li>a{color: #fff}
.clearing-thumbs input[type=checkbox]:checked+a>img{border: solid 2px blue;border-radius: 22px;}
.clear_padding{padding: 0!important}
.clearing-thumbs li{margin-right: 0}
.inline-list > li > *{font-size: 16px;margin-right: 6px;line-height: 40px;}
.top-bar-section li:not(.has-form) a:not(.button){background: #1450B8}
.clearing-thumbs li{position: relative;padding: 5px;border: solid 1px #ededed;margin-bottom: 10px;}
.clearing-thumbs input{position: absolute;right: 95px;bottom: -8px;width: 20px;height: 20px;}
.add_pic{font-size: 15px;padding: 0 10px;}
.clearing-thumbs li:hover{box-shadow: 1px 1px 8px #999}
.top-bar.expanded .title-area{background: #1450B8}
.dropdown li>a:hover{background: #1450B8}
.pic_box .th img{height: 220px;}
.reveal-modal span{font-size: 25px;}
.dropdown span{font-size: 16px;}
.rechoose{color:#FFFFFF;font-size:16px;}
.fallback{font-size: 16px;color: #fff}
.inner-wrap{min-height: 500px;}
.alert-box{position: fixed;top: 40%;width: 70%;left: 17%;text-align: center;display: none}
.button{padding: 10px 40px;margin-top: 20px;margin-bottom: 0;background: #1450B8;}
#save{position: fixed;bottom: 0px;}
#drop1{overflow-y: scroll!important;height: 320px!important;}
#drop2{overflow-y: scroll!important;height: 320px!important;}

/*回到顶部*/
.fixedtool a {
    display: block;
    height: 50px;
    background: #ededed;
    position: fixed;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    bottom: 70px;
    right: 20px;
}
.fixedtool a:hover{background: orange}
.fixedtool a:hover strong{color: #fff;}
.fixedtool a:hover .tb-icon{color: #fff;}
.fixedtool a strong {
    font-weight: 400;
    display: block;
    color: #000;
    height: 44px;
    margin: -1px 8px 0;
    padding-top: 6px;
}
.fixedtool .tb-icon {
    color: #999;
    margin-top: -18px;
    position: relative;
    top: 5px;
    margin-bottom: -3px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.fixedtool a i {
    font-style: normal;
    font-size: 14px;
    display: block;
    line-height: 40px;
}



@media only screen and (max-width: 40.063em){
	.pic_box .th img{height: 120px;}
}
@media only screen and (max-width: 40em){
	.reveal-modal, dialog{min-height: auto}
}
@media only screen and (max-width: 40.063em){
.clearing-assembled .clearing-container .carousel > ul {display: inline-block;}
.clearing-blackout .clearing-thumbs input{position: fixed;visibility: hidden;}
.clearing-blackout .clearing-thumbs>.visible input{z-index: 1000;top: 13px;visibility: visible;}
}

.tiny_button {padding-top: 0.125rem;padding-right: 0.25rem;padding-bottom: 0.1875rem;padding-left: 0.25rem;font-size: 0.1875rem; }
.product_select{width:15%;}
.clearing-close {font-size:40px;padding-top:15px;width:60px;}